.container__footer {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: red;

}

@media (max-width:450px) {
  .container__footer {
    font-size: 100%;
  }
}
