.container__big-card {

  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__title > h1 {
  margin-top: 15px;
  font-size: 25px;

}

.big-card__description {
  margin-top: 20px;
}

.big-card__description > p > a {
  color: grey;
}

.icons{
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-items: center;
 justify-content: center;

}
.big-card__photo img {
  width: 100%;

  border-radius: 50%;

}



@media (max-width:850px) {
  .container__big-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:450px) {
  .container__big-card {
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}





 @media (max-width:850px) {
  .big-card__photo img {
    width: 170px;
    height: 150px;

}
}



@media (max-width:450px) {
  .big-card__photo img {
    width: 170px;
    height: 150px;
}
}

@media (max-width:850px) {
.big-card__title {
  display: block;
  font-size: 8px;
  align-items: center;
  justify-content: center;

}
}


