<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="{{ photoCover}}"
    alt=""
    height="300px"
    srcset=""
    >
  </div>
  <a href=""></a>
  <div class="big-card__title">
<h1><a [routerLink]="['content' , Id]">{{cardTitle}}</a></h1>
  </div>
  <div class="big-card__description">
<p>
  <a [routerLink]="['content' , Id]">
  {{cardDescription}}
  </a>
</p>
<div class="icons">

  <img src="https://counter10.optistats.ovh/private/webcontadores.php?c=qzxufwxt1dyl21jhxr1gn5494qs96l38" border="0" title="contador de visitas online" alt="contador de visitas online">
</div>
  </div>
</div>

