<div class="container__big-card">

  <div class="big-card__photo">
    <img
    src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&aspectRatio=1.78&format=jpeg"
    alt=""
    height="200px"
    srcset=""
    >
  </div>
  <a href=""></a>
  <div class="big-card__title">
<h1><a href="#"> a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">

<p>
  <a href="#">
  bla bla bla bla Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum consequatur quas, sunt facilis soluta aspernatur recusandae nulla unde quos illum dolores inventore illo saepe expedita, laboriosam aliquam voluptatem error! Ipsam!
</a>
</p>

  </div>
</div>
