<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="{{ photoCover}}"
    alt=""
    height="300px"
    srcset=""
    >
  </div>
  <a href=""></a>
  <div class="big-card__title">
<h1><a [routerLink]="['content' , Id]">{{cardTitle}}</a></h1>
  </div>
  <div class="big-card__description">
<p>
  <a [routerLink]="['content' , Id]">
  {{cardDescription}}
  </a>
</p>
<div class="icons">
  <img align="center" alt="LeOzInNDF-Ht" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
  <img align="center" alt="LeOzInNDF-Cs" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
  <img align="center" alt="LeOzInNDF-Js" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
  <img align="center" alt="LeOzInNDF-Kt" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kotlin/kotlin-original-wordmark.svg" />
  <img align="center" alt="LeOzInNDF-Ft" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg" />


  <a href="/" title="contador de visitas para blog"><img src="https://counter10.optistats.ovh/private/webcontadores.php?c=u2xhgajex6pwxdta1huxcq51j1xyxan8" border="0" title="contador de visitas para blog" alt="contador de visitas para blog"></a>
</div>

  </div>

</div>

