header {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

@media (max-width:851px) {
  header   {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}


@media (max-width:450px) {
  header {
    width: 100%;
    font-size: 100%;
    align-items: center;
    justify-content: center;
  }
}


