.container__content {
  width: 100%;
  height: 85vh;

  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.content__cover img {
  border: 5px solid rgb(144, 144, 144);
  border-radius: 5px;
  width: 600px;
  min-width: 600px;
  height: 400px

}

.content__description {
  margin-top: 15px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.content__description > p {
  margin-top: 20px;
  color: rgb(198, 197, 197);
  display: flex;
  flex-direction: row;
}
.content__description > a > button {
 width: 100%;
 border-radius: 50px;
 font-size: large;
 font-weight: bolder;
 cursor: pointer;
  background-color: white;
  color: red;
}
