.container__articles {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width:850px) {
  .container__articles {
    display: block;

  }
}

@media (max-width:850px) {
  .articles__main {
   width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  }
 }

@media (max-width:450px) {
 .articles__main {
  width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;


 }
}
@media (max-width:450px) {
.articles__others {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
}
}
