

#theme-toggler{
  position: fixed;
  top:1.5rem; right: 2rem;
  z-index: 1000;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
  color:var(--black);
  background: var(--bg-color);
}

#theme-toggler:hover{
  color:var(--green);
  box-shadow: var(--box-shadow-inset);
  background-color: white;
}
